h1
{
	font-family: 'Abril Fatface', cursive;
	text-align: center;
}

h2
{
	margin: 10px;
	font-family: 'Questrial', sans-serif;

}

.hero {
  position: relative;
  width: 30%;
  float: left;
}

p
{
	font-size: 18px;
}

ul li
{
	background: #cce5ff;
  	margin: 5px;
  	font-size: 24px;
}

body
{
	width: 90%;
	background-color: white;
}

.biography
{
	justify-content: right;
	text-align: left;
	border: 5px solid black;
	padding: 25px;
	margin: 25px;
}

.skills
{
	border: 5px solid red;
	padding: 25px;
	margin: 25px;

}

.highlights
{
	border: 5px solid blue;
	padding: 25px;
	margin: 25px;

}

.stick
{
	position: fixed;
	left: 200px;
	bottom: 100px;
	background-color: yellow;
}